*
{
	margin: 0;
	padding: 0;
}

#banner
{

	background-image: linear-gradient(rgba(0,0,0,.5),#009688), url(luxery.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}


.logo
{
	width: 140px;
	position: absolute;
	top: 4%;
	left: 6%;

}

.banner-text
{

	text-align: center
	color:  white;
	padding-top: 180px;
}
.banner-text h3
{

	font-size: 130px;
	font-style: italic;
	color: #fff;

}
.banner-text p
{


	font-size: 20px;
	font-style: italic;
	color: white;
	
}
.banner-btn
{

		margin: 10px auto;

}

.banner-btn a
{

	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: #fff;
	border: .5px solid #fff;
	position: relative;
	z-index: 1;
	transition: color0.5s;
}
.banner-btn a span
{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	background: #fff;
	z-index: -1;
	transition: 0.5s
}

.banner-btn a:hover span
{

	width: 100%;


}


.banner-btn a:hover
{

	color: black;


}

#sideNav
{

	width: 100px;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background: #009688;
	z-index: 2;
}

nav ul li
{

	list-style: none;
	margin: 50px 20px;
}

nav ul li a
{

	text-decoration: none;
	color: #fff;
	font-style: italic;
	transition: 0.1s ease;
}

nav ul li a:hover
{

	background-color: #fff;
	color: #000;
}

/*--feature--*/

#feature
{

	width: 100%;
	padding: 70px 0;
	color: #009688;
}

.feature-box
{

	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.features
{

	flex-basis: 50%;
}

.features h1
{

	font-style: italic;
	color: darkred;
}
.features-img
{

	flex-basis: 50%;
	margin: auto;
}

.features-img img
{

	width: 70%;
	border-radius: 10px;
}

.features h1
{

	text-align: left;
	margin-bottom: 10px;
	font-weight: 100;
	color: #009688;
}

.features-desc
{

	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.feature-icon .fa
{

	width: 50px;
	height: 40px;
	font-size: 30px;
	line-height: 50px;
	border-radius: 8px;
	color: #009688;
	border: 1px solid #009688;

}

.feature-text
{

	padding: 0 20px;
	text-align: initial;
}

#service
{

	width: 100%;
	padding: 70px 0;
	
}

/*---service---*/

#service
{

	width: 100%;
	padding: 70px 0;
	color: #009688;
	background: #efefef;
}

.service-box
{

	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}

.single-service
{

	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
}

.single-service img
{

	width: 100%;
	border-radius: 7px;
}

.main
{

	width: 100%
	color:#009688;

}

.main h1
{

	color: #009688;
	font-style: italic;
}
.main p
{

	color: #009688;
	font-style: italic;
}

html
{
	scroll-behavior: smooth;
}